:root{
    --font-display:'helvatica';
    --font-p:'Jost';
    --font-blockquote:'Source Serif 4', serif;
    --spacing:12px;
    --font-size:16pt;
    --title-color:#323232;
    --background-color:#FEC0FF;
    --blockquote-color:#323232;

}

html{
    text-align: center;
}

/*title font*/
h2{
    font-size: calc(var(--font-size)*4);
    line-height: calc(var(--spacing)*7);
    letter-spacing:calc(var(--spacing)*-.5);
    color:#323232;
}

.bigsan{
    font-family: 'Syncopate', sans-serif;
}
.cursive{
    font-family: 'Mrs Saint Delafield', cursive;
    letter-spacing:-0.1em;
}
.digital{
    font-family: 'Handjet', cursive;
}
.jost{
    font-family: 'Jost', sans-serif;
    font-weight:400;
}
.serif{
    font-family: 'Source Serif 4', serif;
}
.thinletter{
    font-family:'Truculenta', sans-serif;
}
.italic{
    font-family: 'STIX Two Text', serif;
    font-weight:400;
    font-style: italic;
}

.word {
    white-space: nowrap;
  }

  hr{
    border-bottom: 1px solid #bcbcbc;
    margin:calc(var(--spacing)*2);
    margin-left:auto;
    margin-right:auto;

}

aside{
    align-items: center;
    justify-content: center;
}

#button{
    display:border;
    border:2px solid #FEC0FF;
    background-color: #eeeeee;
    border-radius:0%;
    padding:20px;
    width:90%;
    margin:0px 20px;
    font-family:'helvatica';
    text-align: center;
    max-width:35rem;
    }

#button:hover{
    background-color:#dddddd;
}

hgroup{
    background-color: #FEC0FF;
}

.title-container p{
    padding:calc(var(--spacing)*1);
    color:#fd8cff;
    font-size:28px;
    font-family:'Jost', sans-serif;
}

blockquote, p{
    max-width:50rem;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

p{
    color:#323232;
}

.scrollarticle{
    position:relative;
    background-color: #cfe5bc;
    height: 500px;
    border-radius: 5%;
	padding: calc(var(--spacing*2));
    margin:calc(var(--spacing)*2);
    overflow: hidden; 
    overflow-y: auto;
    border: 2px solid #FEC0FF;
    max-width: fit-content;
    justify-content: space-around;
    text-align: center;
}

footer{
    margin-top:100px;
}

@media (min-width: 900px) {

    h2{
        font-size: calc(var(--font-size)*6);
        line-height: calc(var(--spacing)*11);
        letter-spacing:calc(var(--spacing)*-1);
    }
    /*idea 1 blur
    .word{
        filter: blur(10px);
    }
    .word:hover{
        filter: blur(0px);
    }
    */



    .scrollarticle{
        height:500px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        border-radius: 80%;
        padding:0 5%;
    }

    .scrollarticle:hover{
        border-radius: 2%;
        background-color: #e5e8ff;
        transition-duration: 300ms;
        
    }
}