:root{
    --font-display:'helvatica';
    --font-p:'helvatica';
    --font-blockquote:'Source Serif 4', serif;
    --spacing:12px;
    --font-size:16pt;
    --title-color:#323232;
    --background-color:#FF6E04;
    --blockquote-color:#ceecef;

}

h2{
    font-size: calc(var(--font-size)*4);
    line-height: calc(var(--spacing)*7);
    letter-spacing:calc(var(--spacing)*-.5);
}

.word {
    white-space: nowrap;
  }

    /*Title font*/
    .bigsan{
        font-family: 'Syncopate', sans-serif;
    }
    .cursive{
        font-family: 'Mrs Saint Delafield', cursive;
        letter-spacing:-0.1em;
    }
    .digital{
        font-family: 'Handjet', cursive;
    }
    .jost{
        font-family: 'Jost', sans-serif;
        font-weight:400;
    }
    .serif{
        font-family: 'Source Serif 4', serif;
    }
    .thinletter{
        font-family:'Truculenta', sans-serif;
    }
    .italic{
        font-family: 'STIX Two Text', serif;
        font-weight:400;
        font-style: italic;
    }
    
#button{
    display:border;
    border:2px solid #FF6E04;
    background-color: #ffd117;
    border-radius:50%;
    padding:20px;
    font-family:'Handjet', cursive;
    font-size: var(--font-size);
    margin-left:calc(var(--spacing)*2)
    }
    #button:hover{
        background-color:#ffd117
    }
p{
    color:#3A3838;
    max-width: 35rem;
}

blockquote{
    color:var(--title-color);
    max-width: 35rem;
}

.quote{
    background-color:var(--blockquote-color);
    margin:calc(var(--spacing)*2);
    border:solid 1px #323232;
    max-width: 35rem;

}

hr{
    border-bottom: 1px solid black;
    margin:calc(var(--spacing)*2);
    display:none;
}


.title-container p{
    padding:calc(var(--spacing)*2);
    color:#323232;
    font-size:28px;
    margin-top:20px;
    font-family:'Jost', sans-serif;
}


