:root{
    --font-display:'Handjet', cursive;
    --font-p:'helvatica';
    --font-blockquote:'helvatica';
    --spacing:10px;
    --font-size:16pt;
    --title-color:#323232;
    --background-color:#27CC73;
    --blockquote-color:#3A3838;
}


h2{
    font-size: calc(var(--font-size)*5);
    line-height: calc(var(--spacing)*10);
    letter-spacing:calc(var(--spacing)*-.5);
}

#button{
    display:border;
    border:2px solid #27CC73;
    background-color: #ffd117;
    border-radius:0%;
    padding:20px;
    width:90%;
    margin:0px 20px;
    font-family:'helvatica';
    text-align: center;
    max-width:35rem;
    
    }
    #button:hover{
        background-color:#ffd117
    }

hr{
    border-bottom: 5px dotted #FF6E04;
    margin:calc(var(--spacing)*2)

}
.title-container p{
    padding:calc(var(--spacing)*2);
    color:#FF6E04;
    font-size:28px;
    margin-top:20px;
    font-family:'Jost', sans-serif;
}

