:root{
    --font-display:'helvatica';
    --font-p:'neue-haas-grotesk-text';
    --font-blockquote:'Source Serif 4', serif;
    --spacing:12px;
    --font-size:16pt;
    --title-color:#323232;
    --background-color:#50FFC0;
    --blockquote-color:#ceecef;
}

.bigsan{
    letter-spacing: -20px;
}

article p{
    padding:calc(var(--spacing)*3);
}

blockquote{
    color:var(--title-color);
    max-width: 35rem;
}

.quote{
    background-color:var(--blockquote-color);
    margin:calc(var(--spacing)*2);
    border:solid 1px #323232;
    max-width: 35rem;

}

.title-container p{
    padding:calc(var(--spacing)*2);
    color:#323232;
    font-size:28px;
    margin-top:20px;
    font-family:'Jost', sans-serif;
}

.left:hover{
    background-color:#F1FF50;
}


