:root{
    --font-display:'helvatica';
    --font-p:'neue-haas-grotesk-text';
    --font-blockquote:'Source Serif 4', serif;
    --spacing:12px;
    --font-size:16pt;
    --title-color:#323232;
    --background-color:#50FFC0;
    --blockquote-color:#ceecef;
}

.bigsan{
    letter-spacing: -20px;
}

article p{
    padding:var(--spacing) calc(var(--spacing)*3);
}

hgroup hr{
    margin-top:-10px;
    margin-bottom:-10px;
}

article a:link{
    background-color:#50FFC0;
    border-radius: 50%;
}
article a:hover{
    background-color: #0ed78d;
    color:white;
    border-radius: 0%;
}

blockquote{
    color:var(--title-color);
    text-align:left;
    padding:0px calc(var(--spacing)*3);
}

article section:first-child{
    margin-top:40px;
}

.title-container p{
    padding:calc(var(--spacing)*2);
    color:#323232;
    font-size:28px;
    margin-top:20px;
    font-family:'Jost', sans-serif;
}

.left:hover{
    background-color:#F1FF50;
}

blockquote::before{
    content:"";
    display:block;
    position: absolute;
    z-index: -1;
    height:2em;
    width:1em;
    rotate:-55deg;
    border-radius: 50%;
    background-color:var(--background-color);
}

@media (min-width:900px){

    article div:first-child{
        margin-top:100px;
    }
}
