:root{
    --font-display:'helvatica';
    --font-p:'neue-haas-grotesk-text';
    --font-blockquote:'Source Serif 4', serif;
    --spacing:12px;
    --font-size:16pt;
    --title-color:#323232;
    --background-color:#F1FF50;
    --blockquote-color:#3A3838;
}

.title-container p{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
    

.title-container p{
    padding:calc(var(--spacing)*2);
    color:#FF6E04;
    font-size:28px;
    margin-top:20px;
    font-family:'Jost', sans-serif;
}

blockquote, p{
    max-width: 50rem;
}

.right:hover{
    background-color:#50FFC0;
}
.left:hover{
    background-color:#FEC0FF;
}

@media (min-width: 1000px) {

    article{
        margin-left:10%;
        margin-right:10%;
        max-width:100rem;
    }

    article p{
        margin-left:40%;
    }

    blockquote{
        margin-left:10%;
    }

    blockquote:hover{
        background-color: #f0ff5063;
        border-radius: 50%;
        transform: rotate(25deg);
    }
    


}

