/*title font*/
h2{
    font-size: calc(var(--font-size)*4);
    line-height: calc(var(--spacing)*7);
    letter-spacing:calc(var(--spacing)*-.5);
}

.bigsan{
    font-family: 'Syncopate', sans-serif;
}
.cursive{
    font-family: 'Mrs Saint Delafield', cursive;
    letter-spacing:-0.1em;
}
.digital{
    font-family: 'Handjet', cursive;
}
.jost{
    font-family: 'Jost', sans-serif;
    font-weight:400;
}
.serif{
    font-family: 'Source Serif 4', serif;
}
.thinletter{
    font-family:'Truculenta', sans-serif;
}
.italic{
    font-family: 'STIX Two Text', serif;
    font-weight:400;
    font-style: italic;
}

.word {
    white-space: nowrap;
  }


/*nav bar*/
.dot{
    height: 40px;
    width: 60px;
    min-width: 20px;
    border-radius: 50%;
    transform:rotate(-20deg);
    display: inline-block;
    position:relative;
    filter:drop-shadow(0 2px 2px rgba(0, 0, 0, 15%));
}

li p{
    position:absolute;
    margin-top:-64px;
    margin-left:40px;
}

aside{
    display: flex;
    justify-content: space-around;
    position:relative;
}

#bar{
    position:fixed;
    z-index:1;
}

#home{
    background-color:#c6c6c6;
}
#article1{
    background-color:#FEC0FF;
}
#article2{
    background-color:#F1FF50;
}
#article3{
    background-color:#50FFC0;
}

/* old css for articles*/
html{
    background-color:#eeeeee;
}



html,body
{
    overflow-x: hidden; 
}

nobr{
    white-space: nowrap;
}

h1,h2,h3{
    font-family:var(--font-display);
    padding:calc(var(--spacing)*3);
    text-align: center;
}

h1,h2{
    color:var(--title-color);
}

hr{
    border-bottom: 1px solid black;
    margin:calc(var(--spacing)*3);
}

blockquote, p ,h4{
    max-width:45rem;
    margin-left:auto;
    margin-right:auto;
}

p{
    font-family:var(--font-p);
    font-size:var(--font-size);
    padding: calc(var(--spacing)*3) 0px;
    line-height: 140%;;
    color:var(--title-color);
}

em{
    font-weight:600;
}

.author{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hgroup{
    text-align: center;
}

#button{
    align-self: center; 
    display:border;
    background-color: var(--background-color);
    padding:20px;
    font-family:'Handjet', cursive;
    font-size: var(--font-size);
    margin-left:calc(var(--spacing)*2);
}

blockquote{
    font-family:var(--font-blockquote);
    font-size:calc(var(--font-size)*1.2);
    color:var(--blockquote-color);
}

aside{
    padding:calc(var(--spacing)*3);
}

ul{
    display: flex;
    gap:calc(var(--spacing)*2);
	flex-wrap: nowrap;
    font-size:var(--font-size);
}

section{
    padding:calc(var(--spacing)*2);
}


footer{
    padding:calc(var(--spacing)*2);
    background-color:var(--background-color);
    font-size:var(--font-size);
    text-align:center;
}

/*footer left right nav*/
.right {
    position: fixed;
    right: 30px;
    z-index: 99;
    bottom:30px;
    height:40px;
    width:50px;
    rotate: -10deg;
    text-align:center;
    border-radius: 50%;
    background-color: white;
    filter:drop-shadow(0 2px 2px rgba(0, 0, 0, 15%));
}

.right span{
    position:absolute;
    bottom:20px;
    transform:scale(250%) rotate(-10deg);

}

.left {
    position: fixed;
    left: 30px;
    z-index: 99;
    bottom:30px;
    height:40px;
    width:50px;
    rotate: 10deg;
    text-align:center;
    border-radius: 50%;
    background-color: white;
    filter:drop-shadow(0 2px 2px rgba(0, 0, 0, 15%));
}

.left:hover,.right:hover{
    filter:drop-shadow(0 2px 2px rgba(0, 0, 0, 0%));
    box-shadow: inset  0 0 3px #838383;
}

.left span{
    position:absolute;
    bottom:20px;
    right:28px;
    transform:scale(250%) rotate(10deg);
}

.left-tag, .right-tag {
    display:none;
}



@media (min-width: 768px) {

    a:hover .dot{
        box-shadow: inset 0 0 10px #b1b1b1;
    }

    #button:hover{
        box-shadow: inset 0 0 20px #b1b1b1;
    }

    nav li:hover{
        transform: scale(110%);
    }

    hr{
        margin:calc(var(--spacing)*5);
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    article p:hover::before{
    content:"";
    display:block;
    position: absolute;
    transform:rotate(90deg);
    z-index: -1;
    height:4em;
    width:2em;
    transform: rotate(115deg);
    opacity: 50%;
    background-color:var(--background-color);
    margin-top:-1.2em;
    }


}

@media (min-width:900px){
    h2{
        font-size: calc(var(--font-size)*6);
        line-height: calc(var(--spacing)*11);
        letter-spacing:calc(var(--spacing)*-1);
    }

    h2 span span:hover{
        color:var(--background-color);
    }

    .left-tag, .right-tag {
        position: fixed;
        top: 50%;
        font-size: var(--font-p);
        color:#b1b1b1;
        display:block;
    }

    .left-tag {
        left: -10px;
        rotate:-90deg;
    }

    .right-tag {
        right: -40px;
        rotate:90deg;
    }

    blockquote{
        font-size:calc(var(--font-size)*1.3);
    }

}

@media(min-width:1480px){
    p{
        font-size:calc(var(--font-size)*1.2);
    }

    .left{
        left: 60px;
        bottom:60px;
    }
    .right{
        right: 60px;
        bottom:60px;
    }
}

@media(min-width:1800px){
    .left{
        left: 100px;
        bottom:100px;
    }
    .right{
        right: 100px;
        bottom:100px;
    }

    h4{
        font-size:calc(var(--font-size)*1.5);
    }
    
    blockquote{
        font-size:calc(var(--font-size)*1.5);
    }
}
