html{
    background-color:#F3F2F2;
}
nobr{
    white-space: nowrap;
}

h1,h2,h3,h4,h5{
    font-family:var(--font-display);
    padding:calc(var(--spacing)*2);
}

h1,h2{
    color:var(--title-color);
}

p{
    font-family:var(--font-p);
    font-size:var(--font-size);
    padding: calc(var(--spacing)*2) 0px;
}

.author{
    font-size: var(--font-size);
}

blockquote{
    font-family:var(--font-blockquote);
    font-size:calc(var(--font-size)*1.5);
    color:var(--blockquote-color);
}

aside{
    background-color:var(--background-color);
    padding:calc(var(--spacing)*2);
}

ul{
    display: flex;
    gap:calc(var(--spacing)*2);
	flex-wrap: nowrap;
    font-size:var(--font-size);
}

section{
    padding:calc(var(--spacing)*2);
}


footer{
    padding:calc(var(--spacing)*2);
    background-color:var(--background-color);
    font-size:var(--font-size);
}


