:root{
    --font-display:'helvatica';
    --spacing:10px;
    --font-size:20pt;
    --title-color:#323232;
    --background-color:#FF6E04;
    --blockquote-color:#F5E9E0;

}

h2{
    font-size: calc(var(--font-size)*3);
    line-height: calc(var(--spacing)*7);
    letter-spacing:calc(var(--spacing)*-1);
}
/* h1 title landing page 
    h1 span:nth-child(1){
        font-family: 'Syncopate', sans-serif;
    }
    h1 span:nth-child(2){
        font-family: 'Hepta Slab', serif;
    }

    h1 span:nth-child(3){
        font-family: 'Mrs Saint Delafield', cursive;
    }
    h1 span:nth-child(4){
        font-family: 'Noto Serif Bengali', serif;
        font-weight:700;
    }
    h1 span:nth-child(5){
        font-family: 'Arimo', sans-serif;
        font-style: italic;
    }
    h1 span:nth-child(6){
        font-family: 'Handjet', cursive;
    }
    h1 span:nth-child(7){
        font-family: 'STIX Two Text', serif;
        font-weight:400;
        font-style: italic;
    }
    h1 span:nth-child(8){
        font-family: 'Jost', sans-serif;
    }
    h1 span:nth-child(9){
        font-family: 'STIX Two Text', serif;
    }
    h1 span:nth-child(10){
        font-family: 'Handjet', cursive;
    }
    h1 span:nth-child(11){
        font-family: 'League Gothic', sans-serif;
    }
    h1 span:nth-child(12){
        font-family: 'Mrs Saint Delafield', cursive;
    }
    h1 span:nth-child(13){
        font-family: 'Stick No Bills', sans-serif;
    }
    h1 span:nth-child(14){
        font-family: 'Jost', sans-serif;
    }
    h1 span:nth-child(15){
        font-family: 'Source Serif 4', serif;
    }
    h1 span:nth-child(16){
        font-family: 'Truculenta', sans-serif;
    }
    h1 span:nth-child(17){
        font-family: 'Jost', sans-serif;
    }
    h1 span:nth-child(18){
        font-family: 'Patrick Hand', cursive;
    }
    h1 span:nth-child(19){
        font-family: 'Handjet', cursive;
    }
    h1 span:nth-child(20){
        font-family: 'Alegreya', serif;
        font-weight:700;
    }
    */

    h2 span:nth-child(1){
        font-family: 'Syncopate', sans-serif;
    }
    h2 span:nth-child(2){
        font-family: 'Mrs Saint Delafield', cursive;
        letter-spacing:-0.1em;
    }

    h2 span:nth-child(3){
        font-family: 'Hepta Slab', serif;
    }
    h2 span:nth-child(4){
        font-family: 'Noto Serif Bengali', serif;
        font-weight:700;
    }
    h2 span:nth-child(5){
        font-family: 'Arimo', sans-serif;
        font-style: italic;
    }
    h2 span:nth-child(6){
        font-family: 'Stick No Bills', sans-serif;
    }
    h2 span:nth-child(7){
        font-family: 'STIX Two Text', serif;
        font-weight:400;
        font-style: italic;
    }
    h2 span:nth-child(8){
        font-family: 'Jost', sans-serif;
    }
    h2 span:nth-child(9){
        font-family: 'Grenze Gotisch', cursive;
    }
    h2 span:nth-child(10){
        font-family: 'Handjet', cursive;
    }
    h2 span:nth-child(11){
        font-family: 'League Gothic', sans-serif;
    }
    h2 span:nth-child(12){
        font-family: 'Mrs Saint Delafield', cursive;
    }
    h2 span:nth-child(13){
        font-family: 'Stick No Bills', sans-serif;
    }
    h2 span:nth-child(14){
        font-family: 'Jost', sans-serif;
    }
    h2 span:nth-child(15){
        font-family: 'Source Serif 4', serif;
    }
    h2 span:nth-child(16){
        font-family: 'Truculenta', sans-serif;
    }
    h2 span:nth-child(17){
        font-family: 'Jost', sans-serif;

    }
    h2 span:nth-child(18){
        font-family: 'Patrick Hand', cursive;
    }
    h2 span:nth-child(19){
        font-family: 'Handjet', cursive;

    }
    h2 span:nth-child(20){
        font-family: 'Alegreya', serif;
        font-weight:700;
    }

#button{
    display:border;
    border:2px solid #FF6E04;
    background-color: #ffd117;
    border-radius:50%;
    padding:20px;
    font-family:'Handjet', cursive;
    margin-left:calc(var(--spacing)*2)
    }
    #button:hover{
        background-color:#ffd117
    }
p{
    color:#3A3838;
    font-family: 'Jost', sans-serif;
    font-size:calc(var(--font-size)*0.8);
    max-width: 35rem;
}

blockquote{
    color:var(--title-color);
    font-family:'Source Serif 4', serif;
    font-size:calc(var(--font-size)*1.2);
    max-width: 35rem;
}

.quote{
    background-color:var(--blockquote-color);
    border-radius: 50%;
    margin:var(--spacing) 0px;
}

hr{
    border-bottom: 1px solid black;
    margin:calc(var(--spacing)*2)
}



